# Core
fastapi==0.116.1
uvicorn==0.35.0

# Gradio frontend
gradio==5.41.0
Requests==2.32.4

# PDF extract
mineru==2.1.10


# Sentence splitting
nltk==3.8.1

# Environment variables
python-dotenv==1.1.1

# OpenAI (for embeddings)
openai==1.99.1

# Vector DB
weaviate-client==4.16.5 # ensure v4 API

# Typing support (optional, but helpful)
typing-extensions==4.11.0
